.BrokersAdm {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.BrokersAdm .aside {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: 170px;
    padding-top: 80px;
}
.BrokersAdm .aside h3 {
    font-weight: bold;
    text-align: center;
}

.BrokersAdm .aside .textHome {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    }
    
    
    .BrokersAdm .aside .textHome h3 {
      font-weight: bold;
      text-align: center;
      color: var(--Paragraph);
    }
    

.BrokersAdm .aside .link {
    border: none;
    border-radius: 6px;
    background-color: none;
    color: var(--Primary);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 10px;
    }
    
.BrokersAdm .informations {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
background-color: var(--White);
box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
border-radius: 6px;
}
.BrokersAdm .informations .infoData {
    width: 200px;
    height: 100px;
    background-color: var(--Border);
    border-radius: 6px;
    margin: 10px;
}

.BrokersAdm .aside .search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 30px 10px;
    width: 90%;
    padding: 10px 15px;
  background-color: var(--White);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  }
  .BrokersAdm .aside .search .selection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
  }
  
  
  .BrokersAdm .aside .search input {
    width: 50%;
    height: 40px;
    padding: 10px 20px;
    border: 1px solid var(--Border);
    border-radius: 6px;
    margin: 2px;
  }
  .BrokersAdm .aside .search .selection select {
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    border: 1px solid var(--Border);
    border-radius: 6px;
    margin: 2px;
  }


  @media(max-width: 850px) {
    .BrokersAdm .aside .search {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 90%;
    }
    
    
    .BrokersAdm .aside .search input {
      width: 100%;
    }
  
@media (max-width: 700px) {
    .BrokersAdm .informations {
        padding-bottom: 100px;
    }
    .BrokersAdm .aside {
        padding-left: 0px;
    }
}
@media (max-width: 570px) {
    
    .BrokersAdm .aside .search {
        width: 100%;
        padding: 10px;
      }

}
}